<div id="team">
</div>

<script id="team-template" type="text/x-handlebars-template">
    {{#each team}}
        <div class="team-column">
            <div class="team-item">
                <div class="team-item__image" style="background-image:url({{this.imageUrl}});"></div>
                <div class="team-item__content">
                    <h2 class="team-item__name">{{this.name}}</h2>
                    <p class="team-item__position">{{this.description}}</p>
                    <div class="team-item__social">
                        {{#this.linkedIn}}
                            <a href="{{& this}}" target="_blank" class="team-item__social--image"><img src="static/images/icons/icon-linkedin.svg" /></a>
                        {{/this.linkedIn}}
                        {{#this.facebook}}
                            <a href="{{& this}}" target="_blank" class="team-item__social--image"><img src="static/images/icons/icon-facebook.svg" /></a>
                        {{/this.facebook}}
                        {{#this.twitter}}
                            <a href="{{& this}}" target="_blank" class="team-item__social--image"><img src="static/images/icons/icon-twitter.svg" /></a>
                        {{/this.twitter}}
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</script>

<script type="text/javascript">
    var data = {
        // the below content populates the team section on the about page
        // if you want to add a new team member, just add a new object
        // don't forget the comma after each object
        team: [
            {
                imageUrl: "static/images/ui/team/blank.png",
                name: "Omar Balkissoon",
                description: "Founder & Chief Executive Officer",
                linkedIn: "https://www.linkedin.com/in/omar-balkissoon-8b2b6a/"
            },
            {
                imageUrl: "static/images/ui/team/blank.png",
                name: "John Goolgasian",
                description: "Chief Operating Officer",
                linkedIn: "https://www.linkedin.com/in/johnpgool/"
            },
            {
                imageUrl: "static/images/ui/team/blank.png",
                name: "Serena Kelleher-Vergantini",
                description: "Head of Product",
                linkedIn: "https://www.linkedin.com/in/serena-kelleher-vergantini-b602a051/ "
            },
            {
                imageUrl: "static/images/ui/team/blank.png",
                name: "Chad Dalton",
                description: "Chief Technology Officer",
                linkedIn: "https://www.linkedin.com/in/chadhdalton/"
            },
            {
                imageUrl: "static/images/ui/team/blank.png",
                name: "Matt McKnight",
                description: "Senior Data Scientist",
                linkedIn: "https://www.linkedin.com/in/mattmcknight/"
            },
            {
                imageUrl: "static/images/ui/team/blank.png",
                name: "David Tong",
                description: "Finance",
                linkedIn: "https://www.linkedin.com/in/david-tong-44b87312/"
            },
            {
                imageUrl: "static/images/ui/team/blank.png",
                name: "Kevin Helm",
                description: "Head of Business Development",
                linkedIn: "https://www.linkedin.com/in/khelm33/"
            },
            {
                imageUrl: "static/images/ui/team/blank.png",
                name: "Rida Khan",
                description: "Demand Generation Specialist",
                linkedIn: "https://www.linkedin.com/in/ridakhanvcu/"
            },
            {
                imageUrl: "static/images/ui/team/blank.png",
                name: "Chris Bower",
                description: "Sr. Analyst & Client Success",
                linkedIn: "https://www.linkedin.com/in/chris-bower-410355135/"
            },
            {
                imageUrl: "static/images/ui/team/blank.png",
                name: "James Boehm",
                description: "Business Development",
                linkedIn: "https://www.linkedin.com/in/james-boehm-162a4aa2/"
            },
            {
                imageUrl: "static/images/ui/team/blank.png",
                name: "Emma Duncan",
                description: "Associate Product Manager",
                linkedIn: "https://www.linkedin.com/in/emma-duncan-b34286166/"
            },
            {
                imageUrl: "static/images/ui/team/blank.png",
                name: "Ankit Phaterpekar",
                description: "Developer & Data Scientist",
                linkedIn: "https://www.linkedin.com/in/phaterpekar/"
            },
            {
                imageUrl: "static/images/ui/team/blank.png",
                name: "Brendan Slezak",
                description: "Developer & Data Scientist",
                linkedIn: "https://www.linkedin.com/in/brendan-slezak-a5087157/"
            },
            {
                imageUrl: "static/images/ui/team/blank.png",
                name: "Chris Casad",
                description: "Developer",
                linkedIn: "https://www.linkedin.com/in/ccasad/"
            },
            {
                imageUrl: "static/images/ui/team/blank.png",
                name: "Tim DeVille",
                description: "Developer",
                linkedIn: "https://www.linkedin.com/in/timothy-deville-63a5aa80/"
            },
            {
                imageUrl: "static/images/ui/team/blank.png",
                name: "Jeffrey Hager",
                description: "Developer",
                linkedIn: "https://www.linkedin.com/in/jeffhagerdev/"
            },
            {
                imageUrl: "static/images/ui/team/blank.png",
                name: "Abi Morris",
                description: "Developer",
                linkedIn: "https://www.linkedin.com/in/abigailmorrisdev/"
            },
            {
                imageUrl: "static/images/ui/team/blank.png",
                name: "Luke Hogrebe",
                description: "Developer",
                linkedIn: "https://www.linkedin.com/in/lukehogrebe/"
            },
            {
                imageUrl: "static/images/ui/team/blank.png",
                name: "Ryan Kramer",
                description: "Developer",
                linkedIn: "https://www.linkedin.com/in/ryan-kramer-4767a061/"
            },
            {
                imageUrl: "static/images/ui/team/blank.png",
                name: "Kristine Smith",
                description: "Administrative Services Lead",
                linkedIn: "https://www.linkedin.com/in/kristine-smith-28b583155/"
            },
            {
                imageUrl: "static/images/ui/team/blank.png",
                name: "Alexis Balkissoon",
                description: "Business Operation"
            },
            {
                imageUrl: "static/images/ui/team/blank.png",
                name: "Greg Gebhardt",
                description: "Advisor",
                linkedIn: "https://www.linkedin.com/in/greg-gebhardt-8b1b0a72/"
            }
        ]
    };
    var template = Handlebars.compile(document.getElementById('team-template').innerHTML);
    var teamData = template(data);
    document.getElementById('team').innerHTML += teamData;
</script>