<div id="team">
</div>

<script id="team-template" type="text/x-handlebars-template">
    {{#each team}}
        <div class="team-column">
            <div class="team-item">
                <div class="team-item__image" style="background-image:url({{this.imageUrl}});"></div>
                <div class="team-item__content">
                    <h2 class="team-item__name">{{this.name}}</h2>
                    <p class="team-item__position">{{this.description}}</p>
                    <div class="team-item__social">
                        {{#this.linkedIn}}
                            <a href="{{& this}}" target="_blank" class="team-item__social--image"><img src="static/images/icons/icon-linkedin.svg" /></a>
                        {{/this.linkedIn}}
                        {{#this.facebook}}
                            <a href="{{& this}}" target="_blank" class="team-item__social--image"><img src="static/images/icons/icon-facebook.svg" /></a>
                        {{/this.facebook}}
                        {{#this.twitter}}
                            <a href="{{& this}}" target="_blank" class="team-item__social--image"><img src="static/images/icons/icon-twitter.svg" /></a>
                        {{/this.twitter}}
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</script>

<script type="text/javascript">
    var data = {
        // the below content populates the team section on the about page
        // if you want to add a new team member, just add a new object
        // don't forget the comma after each object
        team: [
            {
                imageUrl: "static/images/ui/team/omar.jpg",
                name: "Omar Balkissoon",
                description: "Founder and Chief Executive Officer",
                linkedIn: "http://www.linkedin.com",
                facebook: "http://www.facebook.com",
                twitter: "http://www.twitter.com"
            },
            {
                imageUrl: "static/images/ui/team/john.jpg",
                name: "John Goolgasian",
                description: "Chief Operating Officer"
            },
            {
                imageUrl: "static/images/ui/team/chad.jpg",
                name: "Chad Dalton",
                description: "Chief Technology Officer"
            },
            {
                imageUrl: "static/images/ui/team/blank.png",
                name: "Serena Kelleher-Vergantini",
                description: "Head of Product"
            },
            {
                imageUrl: "static/images/ui/team/kevin.jpg",
                name: "Kevin Helm",
                description: "Business Development Manager"
            },
            {
                imageUrl: "static/images/ui/team/blank.png",
                name: "Chris Bower",
                description: "Client Success Manager"
            },
            {
                imageUrl: "static/images/ui/team/kyle.jpg",
                name: "Kyle  Retallick",
                description: "Client Success Manager"
            },
            {
                imageUrl: "static/images/ui/team/blank.png",
                name: "James Boehm",
                description: "Business Development – Government"
            },
            {
                imageUrl: "static/images/ui/team/emma.jpg",
                name: "Emma Duncan",
                description: "GeoTester"
            },
            {
                imageUrl: "static/images/ui/team/blank.png",
                name: "Brendan Slezak",
                description: "GeoDeveloper"
            },
            {
                imageUrl: "static/images/ui/team/blank.png",
                name: "Chris Casad",
                description: "GeoDeveloper"
            },
            {
                imageUrl: "static/images/ui/team/tim.jpg",
                name: "Tim DeVille",
                description: "GeoDeveloper"
            },
            {
                imageUrl: "static/images/ui/team/nolan.jpg",
                name: "Nolan Hager",
                description: "GeoDeveloper"
            },
            {
                imageUrl: "static/images/ui/team/luke.jpg",
                name: "Luke Hogrebe",
                description: "GeoDeveloper"
            },
            {
                imageUrl: "static/images/ui/team/abi.jpg",
                name: "Abi Morris",
                description: "GeoDeveloper"
            },
            {
                imageUrl: "static/images/ui/team/ryan.jpg",
                name: "Ryan Kramer",
                description: "GeoDeveloper"
            },
            {
                imageUrl: "static/images/ui/team/matt.jpg",
                name: "Matt McKnight",
                description: "Data Scientist"
            },
            {
                imageUrl: "static/images/ui/team/blank.png",
                name: "Ankit Phaterpekar",
                description: "Data Scientist"
            },
            {
                imageUrl: "static/images/ui/team/kristine.jpg",
                name: "Kristine Smith",
                description: "Administrative Services Lead"
            }
        ]
    };
    var template = Handlebars.compile(document.getElementById('team-template').innerHTML);
    var teamData = template(data);
    document.getElementById('team').innerHTML += teamData;
</script>