<div id="homeTestimonial">
</div>

<script id="testimonial-template" type="text/x-handlebars-template">
    {{#each testimonials}}
    <div class="testimonial-item testimonial-background" style="background-image: url({{this.background}});">
        <div class="page-inner testimonial-inner">
            <img class="testimonial-profile" src="{{this.profile}}" />
            <div class="testimonial-name">
                {{this.name}}
            </div>
            <div class="testimonial-occupation">
                {{this.occupation}}
            </div>
            <div class="testimonial-bio">
                {{this.quote}}
            </div>
            <div class="testimonial-cta">
                <a href="https://knowledge.geospark.io/hyperion-7-day-free-trial" target="_blank" class="button button-testimonial">Try my workflow</a>
            </div>
        </div>
    </div>
    {{/each}}
</script>

<script type="text/javascript">
    var data = {
        // the below content populates the home page carousel
        // if you want to add a new testimonial, just add a new object
        // don't forget the comma after each object
        testimonials: [
            {
                background: "static/images/ui/testimonials/bg-dana.jpg",
                profile: "static/images/ui/testimonials/abi.jpg",
                name: "Abi",
                occupation: "Security Analyst",
                quote: "Given that I work for a large manufacturing company with a global footprint, I need to ensure the safety and security of all company personnel stationed abroad. I use Hyperion to continuously monitor our office locations and be alerted to any sudden events that could affect the safety of our personnel."
            },
            {
                background: "static/images/ui/testimonials/bg-dana.jpg",
                profile: "static/images/ui/testimonials/matt.jpg",
                name: "Matt",
                occupation: "Operations Manager",
                quote: "As an executive at a global corporation, I use Hyperion’s automated stability assessments to uncover long-term strategic opportunities for my firm. Hyperion does all the heavy lifting so I can simply call the shots."
            },
            {
                background: "static/images/ui/testimonials/bg-dana.jpg",
                profile: "static/images/ui/testimonials/dana2.jpg",
                name: "Dana",
                occupation: "Travelling Employee",
                quote: "While travelling on business, my security operations department was able to notify me of an upcoming protest that would have disrupted my travel and put my safety in jeopardy. Based on Hyperion’s alert, I was able to change my itinerary to avoid the event."
            }
        ]
    };
    var template = Handlebars.compile(document.getElementById('testimonial-template').innerHTML);
    var testimonialData = template(data);
    document.getElementById('homeTestimonial').innerHTML += testimonialData;
</script>