<div id="videos">
</div>

<script id="videos-template" type="text/x-handlebars-template">
    {{#each videos}}
        <section class="video-section">
            <div class="embed-container">
                <iframe src="{{this.url}}" frameborder="0" allowfullscreen></iframe>
            </div>
            <h2 class="video-title">{{this.title}}</h2>
            <div class="video-description">{{{this.description}}}</div>
        </section>
    {{/each}}
</script>

<script type="text/javascript">
    var data = {
        // the below content populates the home page carousel
        // if you want to add a new testimonial, just add a new object
        // don't forget the comma after each object
        videos: [
            {
                url: "https://www.youtube.com/embed/Tx0dUDrh_hE",
                title: "What is Hyperion?",
                description: "Hyperion, a single solution for global risk and threat assessment, delivers real-time insights and AI-driven forecasts of events that could pose a risk to your people, operations, and interests.<br /><br />Simply put, Hyperion delivers you the information you need before you need it."
            },
            {
                url: "https://www.youtube.com/embed/Ws4908LsEAo",
                title: "Who can use Hyperion",
                description: 'Hyperion makes global risk and threat assessment easy, scalable, and available to everyone, independent of skill, manpower, and resources. The platform is currently in use by IC agencies, global commercial corporations, and NGOs to help them understand the threat and risk environment<br /><br />All you need to get started is an account (<a href="" class="button-trial">Sign up for a Free Trial Today</a>) and an internet connection.'
            }
        ]
    };
    var template = Handlebars.compile(document.getElementById('videos-template').innerHTML);
    var videosData = template(data);
    document.getElementById('videos').innerHTML += videosData;
</script>