/* settings styles
*/
/* Eric Meyer's CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   This is a Sass partial
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500);
@import url(https://fontlibrary.org/face/trueno);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* font styles
*/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/* global styles
*/
body {
  background-color: #0F0F16;
  color: #ffffff;
  font-family: 'TruenoUltraLight', sans-serif;
}

a {
  color: #ffffff;
  text-decoration: underline;
}

.page-h1 {
  font-size: 60px;
  line-height: 1.2;
  padding-bottom: 25px;
  font-family: 'TruenoRegular', sans-serif;
}

.page-section__h1 {
  font-size: 44px;
  padding: 120px 0 40px;
  color: #000000;
}

.page-h2 {
  position: relative;
  font-size: 50px;
  line-height: 1.2;
  padding-bottom: 25px;
  font-family: 'TruenoRegular', sans-serif;
}
.page-h2.-inverse {
  color: #000000;
}

.page-h2__hr {
  position: absolute;
  top: -2px;
  left: 4px;
  width: 32px;
  height: 6px;
  background-color: #ffffff;
}
.page-h2__hr.-inverse {
  background-color: #000000;
}

.page-subheader {
  position: relative;
  z-index: 1;
  font-size: 18px;
  line-height: 1.3;
}
.page-subheader.-inverse {
  color: #000000;
}

.section-cta {
  margin-top: 60px;
}

@media (max-width: 650px) {
  .page-h1 {
    font-size: 50px;
  }
}
/* navigation styles
*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.topnav-container {
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  height: 85px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
}
.topnav-container.-slim {
  height: 50px;
}
.topnav-container.-slim .navigation-inner {
  padding-top: 10px;
}
.topnav-container.-slim .navigation-inner .topnav-logo {
  width: 120px;
  top: 13px;
}
.topnav-container.-slim .topnav-mobile-cta {
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  top: 14px;
}

.navigation-inner {
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  position: relative;
  max-width: 1376px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 26px 20px 0 20px;
}

.topnav-logo {
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 2;
}

.topnav-links {
  width: 100%;
  padding-left: 220px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
}
.topnav-links li {
  position: relative;
  display: inline;
  padding: 11px 0;
}
.topnav-links li .topnav-links__item {
  font-size: 15px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  display: inline-block;
  font-family: 'TruenoRegular', sans-serif;
  color: #000000;
  text-decoration: none;
  padding: 8px 0;
  margin: 0 15px;
}
.topnav-links li .topnav-links__item:hover, .topnav-links li .topnav-links__item.-active {
  color: #4B49FF;
}
.topnav-links li:last-child a {
  margin-left: 40px;
}

.topnav-dropdown {
  position: absolute;
  top: 45px;
  left: 50%;
  min-width: 160px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: none;
}

.topnav-dropdown__list {
  padding: 10px 20px;
  z-index: 10;
}

.topnav-dropdown__item {
  display: block !important;
  text-align: left !important;
}
.topnav-dropdown__item a {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 16px;
  color: #000000;
  font-family: 'TruenoRegular', sans-serif;
  margin: 0;
  text-decoration: none;
  padding-left: 36px;
  display: block;
}
.topnav-dropdown__item a:last-child {
  margin: 0 !important;
}
.topnav-dropdown__item a:hover {
  color: #4B49FF;
}

.topnav-dropdown__icon {
  position: absolute;
  left: 0;
  top: 5px;
  width: 26px;
}

.topnav-mobile-cta {
  position: absolute;
  display: none;
  top: 30px;
  right: 20px;
  z-index: 2;
}
.topnav-mobile-cta a {
  position: absolute;
  top: 0;
  right: 0;
}
.topnav-mobile-cta a img {
  width: 20px;
}

footer {
  font-size: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #000000;
  padding: 40px 0 100px;
}

.footer-container {
  font-family: 'TruenoRegular', sans-serif;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 300px;
  line-height: 1.4;
}

.footer-logo {
  position: absolute;
  left: 0;
  top: 0;
}

.footer-col__legal p {
  margin-bottom: 20px;
}

.footer-icon {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: 10px;
}
.footer-icon:hover {
  opacity: 0.6;
}

.footer-row {
  margin-bottom: 40px;
}
.footer-row:after {
  content: '';
  clear: both;
  display: table;
}

.footer-col {
  float: left;
  width: 21%;
}

.footer-col__legal {
  float: left;
  width: 37%;
}

.footer-link {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #000000;
  display: block;
  text-decoration: none;
  margin-bottom: 6px;
}
.footer-link:hover {
  color: #4B49FF;
}

.footer-legal-text {
  font-family: 'TruenoUltraLight', sans-serif;
}
.footer-legal-text a {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #000000;
}
.footer-legal-text a:hover {
  color: #4B49FF;
}

@media (max-width: 860px) {
  .topnav-mobile-cta {
    display: block;
  }
  .topnav-mobile-cta .topnav-mobile-cta__open {
    display: block;
  }
  .topnav-mobile-cta .topnav-mobile-cta__close {
    display: none;
  }

  .topnav-links-container {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 1;
  }

  .topnav-links {
    position: absolute;
    bottom: 40px;
    right: 20px;
    padding: 0;
  }
  .topnav-links li {
    display: block;
  }
  .topnav-links li:last-child a {
    margin-top: 30px;
  }
  .topnav-links li .topnav-links__item {
    font-size: 20px;
  }

  .footer-container {
    padding-left: 0;
    text-align: center;
  }

  .footer-col {
    display: none;
  }

  .footer-col__legal {
    float: none;
    width: 100%;
  }

  .footer-logo {
    display: none;
  }

  .topnav-dropdown {
    position: relative;
    top: 0;
    left: auto;
    width: auto;
    padding: 0;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .topnav-dropdown__list {
    padding: 18px 20px 0 0;
  }

  .topnav-dropdown__item {
    text-align: right !important;
  }
  .topnav-dropdown__item a {
    padding: 0 30px 0 0;
  }

  .topnav-dropdown__icon {
    left: auto;
    right: -5px;
  }
}
/* layout styles
*/
.page-outer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.page-outer__header {
  background-color: #ffffff;
}

.page-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* home styles
*/
.home-intro {
  margin-top: 240px;
  min-height: 500px;
  padding-right: 34%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.home-intro__background {
  position: absolute;
  right: 0;
  top: 240px;
  width: 46%;
  max-width: 550px;
}
.home-intro__background img {
  width: 100%;
}

.home-video__cta {
  padding-top: 40px;
}

.home-hyperion {
  margin-top: 140px;
  min-height: 500px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.home-hyperion .page-subheader {
  padding-right: 34%;
}

.home-hyperion__container {
  position: relative;
  margin-top: 100px;
  min-height: auto;
  padding-left: 30%;
  padding-bottom: 120px;
}

.home-hyperion__list {
  position: absolute;
  top: 60px;
  left: 0;
  width: 30%;
}

.home-hyperion__list--item {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  font-size: 14px;
  padding-left: 70px;
  line-height: 1.3;
  margin-bottom: 40px;
  opacity: 0.4;
  cursor: pointer;
}
.home-hyperion__list--item:hover, .home-hyperion__list--item.-active {
  opacity: 1;
}
.home-hyperion__list--item strong {
  display: block;
  font-size: 22px;
  font-family: 'TruenoRegular', sans-serif;
  padding-bottom: 10px;
}
.home-hyperion__list--item img {
  width: 54px;
  position: absolute;
  left: 0;
  top: 0;
}

.home-hyperion__map--image {
  position: relative;
  width: 100%;
}
.home-hyperion__map--image.-outline {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.home-hyperion__map--image.-forecast {
  position: absolute;
  top: 0;
  left: 0;
}

.home-hyperion__map {
  position: relative;
}

.home-hyperion__map--blip {
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ff496f;
  -webkit-box-shadow: 0 0 0 rgba(255, 73, 111, 0.4);
  box-shadow: 0 0 0 rgba(255, 73, 111, 0.4);
  opacity: 0;
}
.home-hyperion__map--blip.-blip1 {
  top: 48%;
  left: 50%;
  -webkit-animation: map-pulse 2.4s infinite;
  animation: map-pulse 2.4s infinite;
}
.home-hyperion__map--blip.-blip2 {
  top: 58%;
  left: 18%;
  -webkit-animation: map-pulse 3s infinite;
  animation: map-pulse 3s infinite;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.home-hyperion__map--blip.-blip3 {
  top: 70%;
  left: 33%;
  -webkit-animation: map-pulse 3s infinite;
  animation: map-pulse 3s infinite;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.home-hyperion__map--blip.-blip4 {
  top: 58%;
  left: 60%;
  -webkit-animation: map-pulse 2.6s infinite;
  animation: map-pulse 2.6s infinite;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.home-hyperion__map--blip.-blip5 {
  top: 58%;
  left: 70%;
  -webkit-animation: map-pulse 3s infinite;
  animation: map-pulse 3s infinite;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
.home-hyperion__map--blip.-blip6 {
  top: 76%;
  left: 57%;
  -webkit-animation: map-pulse 2.8s infinite;
  animation: map-pulse 2.8s infinite;
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}
.home-hyperion__map--blip.-blip7 {
  top: 42%;
  left: 12%;
  -webkit-animation: map-pulse 3.1s infinite;
  animation: map-pulse 3.1s infinite;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.hyperion-panel {
  display: none;
}
.hyperion-panel.-active {
  display: block;
}

.hyperion-forecast {
  position: absolute;
  top: 30%;
  left: 20%;
  width: 400px;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  z-index: 1;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
.hyperion-forecast:after {
  content: '';
  clear: both;
  display: table;
}

.hyperion-forecast__header {
  font-size: 12px;
  padding-bottom: 20px;
}

.hyperion-forecast__col {
  float: left;
  width: 14.2%;
  text-align: center;
  font-size: 12px;
}

.hyperion-forecast__label {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  padding: 5px;
  font-size: 14px;
  opacity: 0;
}

.hyperion-forecast__disc {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 8px;
  font-family: 'TruenoRegular', sans-serif;
  font-size: 16px;
  line-height: 2.4;
  background-color: #98F38C;
}
.hyperion-forecast__disc.-amber {
  background-color: #FCCB3C;
}

.home-video-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  display: none;
}

.home-video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0.8;
}

.home-video-content {
  display: none;
  z-index: 1;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.home-video {
  margin-bottom: 40px;
}

.home-overlay-close {
  display: inline-block;
  margin: 30px 0 40px;
  text-decoration: none;
}

@media (max-width: 990px) {
  .home-hyperion__container {
    padding-left: 0;
  }

  .home-hyperion__list {
    position: relative;
    top: 0;
    width: 100%;
  }
  .home-hyperion__list:after {
    content: '';
    clear: both;
    display: table;
  }

  .home-hyperion__list--item {
    float: left;
    width: 33.3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 20px;
  }

  .hyperion-panel {
    margin: 0 80px;
  }

  .hyperion-forecast {
    width: 300px;
  }

  .hyperion-forecast__disc {
    width: 30px;
    height: 30px;
    line-height: 1.8;
  }
}
@media (max-width: 650px) {
  .home-hyperion__container {
    min-height: auto;
  }

  .home-hyperion__list {
    margin-bottom: 40px;
  }

  .home-hyperion__list--item {
    float: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 10px;
    opacity: 1;
  }

  .hyperion-panel {
    display: none !important;
  }

  .home-intro {
    padding-right: 0;
    min-height: auto;
  }

  .home-hyperion .page-subheader {
    padding-right: 0;
  }

  .home-intro__background {
    display: none;
  }

  .home-intro .page-h1, .home-intro .page-subheader, .home-intro .home-video__cta {
    text-align: center;
  }
}
@-webkit-keyframes map-pulse {
  0% {
    opacity: 0;
    -webkit-box-shadow: 0 0 0 0 rgba(255, 73, 111, 0.9);
    box-shadow: 0 0 0 0 rgba(255, 73, 111, 0.9);
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
    -webkit-box-shadow: 0 0 0 20px rgba(255, 73, 111, 0);
    box-shadow: 0 0 0 20px rgba(255, 73, 111, 0);
  }
  90% {
    opacity: 0;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 73, 111, 0);
    box-shadow: 0 0 0 0 rgba(255, 73, 111, 0);
    opacity: 0;
  }
}
@keyframes map-pulse {
  0% {
    opacity: 0;
    -webkit-box-shadow: 0 0 0 0 rgba(255, 73, 111, 0.9);
    box-shadow: 0 0 0 0 rgba(255, 73, 111, 0.9);
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
    -webkit-box-shadow: 0 0 0 20px rgba(255, 73, 111, 0);
    box-shadow: 0 0 0 20px rgba(255, 73, 111, 0);
  }
  90% {
    opacity: 0;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 73, 111, 0);
    box-shadow: 0 0 0 0 rgba(255, 73, 111, 0);
    opacity: 0;
  }
}
/* global styles
*/
button, .button {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  display: inline-block;
  margin: 0;
  padding: 14px 30px !important;
  border-radius: 5px;
  font-family: 'TruenoUltraLight', sans-serif;
  text-decoration: none;
  font-size: 18px;
  background: #21C4D0;
}
button:hover, .button:hover {
  opacity: 0.7;
}
button.button-play, .button.button-play {
  position: relative;
  padding-left: 60px !important;
}
button.button-trial, .button.button-trial {
  color: #000000;
  background: #ffffff;
}
button.button-hotspots, .button.button-hotspots {
  background-color: #FF496F;
  -webkit-box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
}
button.button-forecasting, .button.button-forecasting {
  background-color: #003155;
  -webkit-box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
}
button.button-pulse, .button.button-pulse {
  color: #000000;
  background-color: #FFD66F;
  -webkit-box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
}
button.button-events, .button.button-events {
  background-color: #01AEEB;
  -webkit-box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
}

.button-icon {
  position: absolute;
  left: 20px;
  top: 10px;
  width: 26px;
}

.button-topnav {
  padding: 8px 15px !important;
  color: #ffffff;
  background-color: #4B49FF;
  font-size: 15px;
  font-family: 'TruenoRegular', sans-serif;
  -webkit-box-shadow: 1px 1px 10px 1px rgba(75, 73, 255, 0.37);
  box-shadow: 1px 1px 10px 1px rgba(75, 73, 255, 0.37);
}

/* custom alerts styles
*/
.page-outer__custom-alerts {
  position: relative;
  background-color: #4B49FF;
}

.section-custom-alerts {
  padding: 80px 34% 80px 0;
}

.text-alerts__container {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 34%;
}

.text-alert {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 20px 40px 20px 90px;
  background-color: #ffffff;
  font-size: 20px;
  font-family: 'TruenoRegular', sans-serif;
  color: #000000;
  width: 370px;
  line-height: 1.2;
}
.text-alert.-position1 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transform: translate(50px, -50px);
  -ms-transform: translate(50px, -50px);
  transform: translate(50px, -50px);
  z-index: 3;
}
.text-alert.-position2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  -webkit-transform: translate(-40px, -10px) scale(0.75);
  -ms-transform: translate(-40px, -10px) scale(0.75);
  transform: translate(-40px, -10px) scale(0.75);
  z-index: 2;
}
.text-alert.-position3 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  -webkit-transform: translate(56px, -97px) scale(0.75);
  -ms-transform: translate(56px, -97px) scale(0.75);
  transform: translate(56px, -97px) scale(0.75);
  z-index: 1;
}

.text-alert__icon {
  position: absolute;
  top: 18px;
  left: 20px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #FF496F;
}
.text-alert__icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 650px) {
  .section-custom-alerts {
    padding: 280px 0 80px 0;
  }

  .text-alerts__container {
    top: 150px;
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
/* getting started styles
*/
.page-outer__get-started {
  position: relative;
  background-color: #0F0F16;
}

.get-started-h2 {
  font-size: 34px;
}

.section-getting-started {
  text-align: center;
  padding: 100px 0 120px;
}

/* testimonial styles
*/
.section-testimonials__header {
  padding: 60px 34% 60px 0;
}

.testimonial-inner {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 180px;
}

.testimonial-item {
  background-size: cover;
}

.testimonial-profile {
  position: absolute;
  top: 100px;
  left: 40px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #ffffff;
}

.testimonial-name {
  font-size: 40px;
  font-family: 'TruenoRegular', sans-serif;
  padding-bottom: 10px;
}

.testimonial-occupation {
  font-size: 20px;
  font-family: 'TruenoRegular', sans-serif;
  padding-bottom: 10px;
}

.testimonial-bio {
  font-size: 20px;
  line-height: 1.2;
  padding-bottom: 30px;
}

.home-carousel__dots {
  position: absolute;
  bottom: 20px;
  right: 60px;
}
.home-carousel__dots li {
  float: left;
  margin-left: 8px;
}
.home-carousel__dots li.slick-active button, .home-carousel__dots li.slick-active .button {
  background-color: white !important;
}
.home-carousel__dots button, .home-carousel__dots .button {
  outline: none;
  border-radius: 50%;
  background-color: transparent;
  padding: 0 !important;
  text-indent: 9000px;
  overflow: hidden;
  width: 10px;
  height: 10px;
}

@media (max-width: 650px) {
  .section-testimonials__header {
    padding: 60px 0;
  }

  .testimonial-inner {
    padding-left: 40px;
    padding-top: 60px;
  }
  .testimonial-inner .testimonial-cta {
    text-align: center;
  }

  .testimonial-profile {
    position: relative;
    left: 0;
    top: 0;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .home-carousel__dots {
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
/* facts styles
*/
.page-outer__facts {
  padding: 60px 0;
  background-color: #F5F6F8;
}

.hyperion-facts {
  padding: 100px 0;
  color: #000000;
}

.hyperion-facts__intro {
  text-align: center;
}

.hyperion-facts__h2 {
  font-size: 90px;
  font-family: 'TruenoRegular', sans-serif;
}

.hyperion-facts__subheader {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px 0 100px;
  line-height: 1.3;
}

.hyperion-facts__comparison--row {
  font-size: 60px;
  margin-bottom: 40px;
}
.hyperion-facts__comparison--row:after {
  content: '';
  clear: both;
  display: table;
}

.hyperion-facts__comparison--col1 {
  float: left;
  width: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
  padding-right: 3%;
}

.hyperion-facts__comparison--col2 {
  float: left;
  width: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 3%;
}

.hyperion-facts__header {
  position: relative;
  font-size: 50px;
  font-family: 'TruenoRegular', sans-serif;
}

.hyperion-facts__them {
  padding: 60px;
  background-color: #ffffff;
  border-radius: 0 15px 15px 0;
  -webkit-box-shadow: 4px 8px 25px -10px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 8px 25px -10px rgba(0, 0, 0, 0.3);
}

.hyperion-facts__us {
  color: #F5F6F8;
  padding: 60px;
  background-color: #21C4D0;
  border-radius: 15px 0 0 15px;
  -webkit-box-shadow: 4px 8px 25px -10px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 8px 25px -10px rgba(0, 0, 0, 0.3);
}

.hyperion-facts__label {
  padding-top: 10px;
  font-size: 18px;
}

@media (max-width: 650px) {
  .page-outer__facts {
    padding-bottom: 0;
  }

  .hyperion-facts__h2 {
    font-size: 50px;
  }

  .hyperion-facts__header {
    font-size: 30px;
  }
  .hyperion-facts__header .page-h2__hr {
    width: 17px;
    height: 3px;
  }

  .hyperion-facts__them, .hyperion-facts__us {
    padding: 40px;
  }

  .hyperion-facts__comparison--row {
    font-size: 40px;
    margin-bottom: 30px;
  }

  .hyperion-facts__label {
    font-size: 16px;
  }
}
/* features 
*/
.feature-section__hotspots {
  background-color: #FF496F;
}

.feature-section__forecasting {
  background-color: #003155;
}

.feature-section__pulse {
  background-color: #FFD66F;
}

.feature-section__events {
  background-color: #01AEEB;
}

.feature-section {
  position: relative;
  z-index: 1;
}

.features-section__content {
  position: relative;
  padding: 200px 10px 0 55%;
  color: #ffffff;
}
.features-section__content.-inverse {
  padding: 200px 55% 0 10px;
}
.features-section__content.-inverse-color {
  color: #000000;
}

.feature-h2 {
  font-size: 40px;
  font-family: 'TruenoRegular', sans-serif;
  padding-bottom: 30px;
}

.feature-description {
  font-size: 16px;
  line-height: 1.4;
  padding-bottom: 30px;
}

.feature-hotspots__map {
  position: absolute;
  right: 50%;
  top: 0;
  height: 100%;
  width: 100%;
}
.feature-hotspots__map img {
  position: absolute;
  top: 100px;
  right: 0;
  height: 100%;
}
.feature-hotspots__map .feature-blip {
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0 0 0 #f8f6f6;
  box-shadow: 0 0 0 #f8f6f6;
  opacity: 0;
  z-index: 100;
}
.feature-hotspots__map .feature-blip.-blip1 {
  top: 48%;
  right: 20%;
  -webkit-animation: feature-pulse 2.4s infinite;
  animation: feature-pulse 2.4s infinite;
}
.feature-hotspots__map .feature-blip.-blip2 {
  top: 51%;
  right: 31%;
  -webkit-animation: feature-pulse 3.4s infinite;
  animation: feature-pulse 3.4s infinite;
}
.feature-hotspots__map .feature-blip.-blip3 {
  top: 67%;
  right: 30%;
  -webkit-animation: feature-pulse 3s infinite;
  animation: feature-pulse 3s infinite;
}
.feature-hotspots__map .feature-blip.-blip4 {
  top: 101%;
  right: 14%;
  -webkit-animation: feature-pulse 4s infinite;
  animation: feature-pulse 4s infinite;
}

.feature-section__forecasting-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.feature-section__forecasting-bg img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 300px;
  -webkit-clip-path: inset(0% 0% 0% 0%);
  clip-path: inset(0% 0% 0% 0%);
}
.feature-section__forecasting-bg img.element-to-animate {
  -webkit-clip-path: inset(0% 100% 0% 0%);
  clip-path: inset(0% 100% 0% 0%);
}
.feature-section__forecasting-bg img.animate-clip {
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  -webkit-clip-path: inset(0% 0% 0% 0%);
  clip-path: inset(0% 0% 0% 0%);
  -webkit-animation: clippy 6s;
  animation: clippy 6s;
}

.features-section__pulse {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 50%;
  max-width: 600px;
  text-align: center;
}

.feature-pulse__main-pulse {
  position: absolute;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  background-color: #ba9841;
  font-size: 26px;
  font-family: 'TruenoRegular', sans-serif;
  line-height: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
}
.feature-pulse__main-pulse.-pulse1 {
  opacity: 0.4;
  -webkit-transform: translate(-32%, -32%);
  -ms-transform: translate(-32%, -32%);
  transform: translate(-32%, -32%);
  z-index: 1;
  -webkit-animation: pulse-pulse 2.4s infinite;
  animation: pulse-pulse 2.4s infinite;
  width: 160px;
  height: 160px;
}
.feature-pulse__main-pulse.-pulse2 {
  opacity: 0.4;
  -webkit-transform: translate(-32%, -70%);
  -ms-transform: translate(-32%, -70%);
  transform: translate(-32%, -70%);
  z-index: 1;
  -webkit-animation: pulse-pulse 2.4s infinite;
  animation: pulse-pulse 2.4s infinite;
  width: 160px;
  height: 160px;
}
.feature-pulse__main-pulse.-pulse3 {
  opacity: 0.4;
  -webkit-transform: translate(-75%, -70%);
  -ms-transform: translate(-75%, -70%);
  transform: translate(-75%, -70%);
  z-index: 1;
  -webkit-animation: pulse-pulse 2.4s infinite;
  animation: pulse-pulse 2.4s infinite;
  width: 160px;
  height: 160px;
}
.feature-pulse__main-pulse.-pulse4 {
  opacity: 0.4;
  -webkit-transform: translate(-75%, -32%);
  -ms-transform: translate(-75%, -32%);
  transform: translate(-75%, -32%);
  z-index: 1;
  -webkit-animation: pulse-pulse 2.4s infinite;
  animation: pulse-pulse 2.4s infinite;
  width: 160px;
  height: 160px;
}
.feature-pulse__main-pulse.-pulse5 {
  opacity: 0.4;
  -webkit-transform: translate(-65%, -35%);
  -ms-transform: translate(-65%, -35%);
  transform: translate(-65%, -35%);
  z-index: 1;
}
.feature-pulse__main-pulse.-pulse6 {
  opacity: 0.4;
  -webkit-transform: translate(-65%, -35%);
  -ms-transform: translate(-65%, -35%);
  transform: translate(-65%, -35%);
  z-index: 1;
}

.event-cards__container {
  position: absolute;
  width: 50%;
  top: 65%;
  left: 50%;
  max-width: 600px;
}

.event-cards__item {
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  position: absolute;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 160px 30px 30px 30px;
  color: #000000;
  font-size: 22px;
  line-height: 1.3;
  text-align: center;
  max-width: 200px;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
}
.event-cards__item.-card1 {
  top: 50%;
  left: 50%;
  margin: 0 auto;
  z-index: 1;
  -webkit-transform: rotate(-5deg) translate(550%, -50%);
  -ms-transform: rotate(-5deg) translate(550%, -50%);
  transform: rotate(-5deg) translate(550%, -50%);
}
.event-cards__item.-card1.-animate-me {
  -webkit-transform: rotate(-5deg) translate(-50%, -50%);
  -ms-transform: rotate(-5deg) translate(-50%, -50%);
  transform: rotate(-5deg) translate(-50%, -50%);
}
.event-cards__item.-card2 {
  top: 50%;
  left: 28%;
  margin: 0 auto;
  z-index: 2;
  -webkit-transform: scale(0.9) rotate(-15deg) translate(550%, -125%);
  -ms-transform: scale(0.9) rotate(-15deg) translate(550%, -125%);
  transform: scale(0.9) rotate(-15deg) translate(550%, -125%);
}
.event-cards__item.-card2.-animate-me {
  -webkit-transform: scale(0.9) rotate(-15deg) translate(-50%, -125%);
  -ms-transform: scale(0.9) rotate(-15deg) translate(-50%, -125%);
  transform: scale(0.9) rotate(-15deg) translate(-50%, -125%);
}
.event-cards__item.-card3 {
  top: 50%;
  left: 49%;
  margin: 0 auto;
  z-index: 3;
  -webkit-transform: scale(0.75) rotate(25deg) translate(550%, -111%);
  -ms-transform: scale(0.75) rotate(25deg) translate(550%, -111%);
  transform: scale(0.75) rotate(25deg) translate(550%, -111%);
}
.event-cards__item.-card3.-animate-me {
  -webkit-transform: scale(0.75) rotate(25deg) translate(-50%, -111%);
  -ms-transform: scale(0.75) rotate(25deg) translate(-50%, -111%);
  transform: scale(0.75) rotate(25deg) translate(-50%, -111%);
}
.event-cards__item.-card4 {
  top: 50%;
  left: 42%;
  margin: 0 auto;
  z-index: 4;
  -webkit-transform: scale(0.8) rotate(0deg) translate(550%, -177%);
  -ms-transform: scale(0.8) rotate(0deg) translate(550%, -177%);
  transform: scale(0.8) rotate(0deg) translate(550%, -177%);
}
.event-cards__item.-card4.-animate-me {
  -webkit-transform: scale(0.8) rotate(0deg) translate(-50%, -177%);
  -ms-transform: scale(0.8) rotate(0deg) translate(-50%, -177%);
  transform: scale(0.8) rotate(0deg) translate(-50%, -177%);
}

.event-cards__item--icon {
  position: absolute;
  top: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.event-cards__item--icon img {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@-webkit-keyframes clippy {
  0% {
    -webkit-clip-path: inset(0% 100% 0% 0%);
    clip-path: inset(0% 100% 0% 0%);
  }
  100% {
    -webkit-clip-path: inset(0% 0% 0% 0%);
    clip-path: inset(0% 0% 0% 0%);
  }
}

@keyframes clippy {
  0% {
    -webkit-clip-path: inset(0% 100% 0% 0%);
    clip-path: inset(0% 100% 0% 0%);
  }
  100% {
    -webkit-clip-path: inset(0% 0% 0% 0%);
    clip-path: inset(0% 0% 0% 0%);
  }
}
@-webkit-keyframes feature-pulse {
  0% {
    opacity: 0;
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
    -webkit-box-shadow: 0 0 0 100px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 100px rgba(255, 255, 255, 0);
  }
  90% {
    opacity: 0;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    opacity: 0;
  }
}
@keyframes feature-pulse {
  0% {
    opacity: 0;
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
    -webkit-box-shadow: 0 0 0 100px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 100px rgba(255, 255, 255, 0);
  }
  90% {
    opacity: 0;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    opacity: 0;
  }
}
@-webkit-keyframes pulse-pulse {
  0% {
    opacity: 0.4;
    -webkit-box-shadow: 0 0 0 0 rgba(186, 152, 65, 0.8);
    box-shadow: 0 0 0 0 rgba(186, 152, 65, 0.8);
  }
  20% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.4;
    -webkit-box-shadow: 0 0 0 90px rgba(186, 152, 65, 0);
    box-shadow: 0 0 0 90px rgba(186, 152, 65, 0);
  }
  90% {
    opacity: 0.4;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(186, 152, 65, 0);
    box-shadow: 0 0 0 0 rgba(186, 152, 65, 0);
    opacity: 0.4;
  }
}
@keyframes pulse-pulse {
  0% {
    opacity: 0.4;
    -webkit-box-shadow: 0 0 0 0 rgba(186, 152, 65, 0.8);
    box-shadow: 0 0 0 0 rgba(186, 152, 65, 0.8);
  }
  20% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.4;
    -webkit-box-shadow: 0 0 0 90px rgba(186, 152, 65, 0);
    box-shadow: 0 0 0 90px rgba(186, 152, 65, 0);
  }
  90% {
    opacity: 0.4;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(186, 152, 65, 0);
    box-shadow: 0 0 0 0 rgba(186, 152, 65, 0);
    opacity: 0.4;
  }
}
@media (max-width: 800px) {
  .feature-hotspots__map {
    display: none;
  }

  .features-section__content {
    padding: 120px 0px;
  }
  .features-section__content.-inverse {
    padding: 120px 0px;
  }

  .feature-section__forecasting-bg img {
    height: 160px;
  }

  .features-section__pulse {
    display: none;
    width: 100%;
    right: auto;
    top: auto;
    bottom: 160px;
  }

  .event-cards__container {
    display: none;
  }
}
