/* settings styles
*/
/* Eric Meyer's CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   This is a Sass partial
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500);
@import url(https://fontlibrary.org/face/trueno);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* font styles
*/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/* global styles
*/
body {
  background-color: #0F0F16;
  color: #ffffff;
  font-family: 'TruenoUltraLight', sans-serif;
}

a {
  color: #ffffff;
  text-decoration: underline;
}

/* navigation styles
*/
.topnav-container {
  height: 85px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.navigation-inner {
  position: relative;
  max-width: 1376px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 26px 20px 0 20px;
}

.topnav-logo {
  position: absolute;
  left: 20px;
  top: 20px;
}

.topnav-links {
  width: 100%;
  padding-left: 220px;
  box-sizing: border-box;
  text-align: right;
}
.topnav-links li {
  display: inline;
}
.topnav-links li .topnav-links__item {
  font-size: 15px;
  transition: all 0.4s;
  display: inline-block;
  font-family: 'TruenoRegular', sans-serif;
  color: #000000;
  text-decoration: none;
  padding: 8px 0;
  margin-left: 30px;
}
.topnav-links li .topnav-links__item:hover {
  color: #4B49FF;
}
.topnav-links li:last-child a {
  margin-left: 40px;
}

/* layout styles
*/
.page-outer {
  width: 100%;
}

.page-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}

/* global styles
*/
button, .button {
  transition: all 0.4s;
  display: inline-block;
  margin: 0;
  padding: 8px 15px !important;
  border-radius: 5px;
  font-family: 'TruenoRegular', sans-serif;
  text-decoration: none;
  font-size: 15px;
  box-shadow: 1px 1px 10px 1px rgba(75, 73, 255, 0.37);
}
button:hover, .button:hover {
  opacity: 0.6;
}

.button-topnav {
  color: #ffffff;
  background-color: #4B49FF;
}
