/* features 
*/

// vars

// styles
.feature-section__hotspots {
    background-color: $bg-color-feature-hotspots;
}

.feature-section__forecasting {
    background-color: $bg-color-feature-forecasting;
}

.feature-section__pulse {
    background-color: $bg-color-feature-pulse;
}

.feature-section__events {
    background-color: $bg-color-feature-events;
}

.feature-section {
    position: relative;
    z-index: 1;
}

.features-section__content {
    position: relative;
    padding: 200px 10px 0 55%;
    color: $color-main-font;
    &.-inverse {
        // color: $color-main-inverse;
        padding: 200px 55% 0 10px;
    }
    &.-inverse-color {
        color: $color-main-inverse;
    }
}

.feature-h2 {
    font-size: 40px;
    font-family: 'TruenoRegular', sans-serif;
    padding-bottom: 30px;
}

.feature-description {
    font-size: 16px;
    line-height: 1.4;
    padding-bottom: 30px;
}

.feature-hotspots__map {
    position: absolute;
    right: 50%;
    top: 0;
    height: 100%;
    img {
        position: absolute;
        top: 100px;
        right: 0;
        height: 100%;
    }
}

.feature-section__forecasting-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    img {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 300px;
        clip-path: inset(0% 0% 0% 0%);
        &.element-to-animate {
            clip-path: inset(0% 100% 0% 0%);
        }
        &.animate-clip {
            transition: all 2s;
            clip-path: inset(0% 0% 0% 0%);
            animation: clippy 6s;
        }
    }
}

// animations
@keyframes clippy {
    0% {
        clip-path: inset(0% 100% 0% 0%);
    }
    100% {
        clip-path: inset(0% 0% 0% 0%);
    }
}

// media queries
@media (max-width: 650px) {}
