/* getting started styles
*/

// vars

// styles
.page-outer__get-started {
    position: relative;
    background-color: $color-bg
}

.get-started-h2 {
    font-size: 28px;
    font-family: 'TruenoRegular', sans-serif;
    line-height: 1.4;
}

.section-getting-started {
    text-align: center;
    padding: 80px 0 80px;
}

.get-started__row {
    padding: 100px 0 40px;
    &:after {
        content: '';
        clear: both;
        display: table;
    }
}

.get-started__item {
    float: left;
    width: 33.3%;
    text-align: center;
}

.get-started__item--header {
    text-transform: uppercase;
    font-size: 18px;
    padding-top: 20px;
    a {
        text-decoration: none;
    }
}

@media (max-width: 650px) {
    .get-started-h2 {
        font-size: 24px;
    }
    .get-started__item {
        .get-started__item--platform {
            width: 55px;
        }
        .get-started__item--mobile {
            width: 32px;
        }
        .get-started__item--api {
            width: 66px;
        }
    }
}