/* getting started styles
*/

// vars

// styles
.page-outer__get-started {
    position: relative;
    background-color: $color-bg
}

.get-started-h2 {
    font-size: 34px;
}

.section-getting-started {
    text-align: center;
    padding: 100px 0 120px;
}