/* global styles
*/

body {
    background-color: $color-bg;
    color: $color-main-font;
    font-family: 'TruenoUltraLight', sans-serif;
}

a {
    color: $color-main-font;
    text-decoration: underline;
}
