/* getting started styles
*/

// vars

// styles

.investors__row {
    padding: 0 0 20px;
    &:after {
        content: '';
        clear: both;
        display: table;
    }
}

.investors__item {
    float: left;
    width: 50%;
    text-align: center;
    img {
        width: 60%;
        max-width: 300px;
        &.-gc {
            position: relative;
            top: 20px;
        }
    }
}

@media (max-width: 650px) {
    .investors__item {
        width: 100%;
        margin-top: 30px;
        img {
            width: 80%;
            max-width: 100%;
        }
        img.-gc {
            top: 0;
        }
    }
}
