/* layout styles
*/

.page-outer {
    position: relative;
    width: 100%;
    overflow: hidden;
    &.page-outer__hero {
        overflow: visible;
    }
}

.page-outer__header {
    background-color: $bg-navigation;
}

.page-inner {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
    height: 100%;
    &.-auto {
        height: auto;
    }
}

.page-inner__iframe--container {
    position: relative;
    max-width: 1200px;
    margin: 140px auto 80px;
    padding: 0;
    box-sizing: border-box;
    height: 1000px;
    background-color: #ffffff;
}
.page-inner__iframe {
    width: 100%;
    height: 100%;
}

@media (max-width: 650px) {
    .page-inner {
        padding: 0 20px;
    }
}

@media (max-width: 400px) {
    .page-inner {
        padding: 0 15px;
    }
}


