/* navigation styles
*/


// topnav
.topnav-container {
    height: 85px;
    box-sizing: border-box;
    background-color: $bg-navigation;
}

.navigation-inner {
    position: relative;
    max-width: 1376px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 26px 20px 0 20px;
}

.topnav-logo {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 2;
}

.topnav-links {
    width: 100%;
    padding-left: 220px;
    box-sizing: border-box;
    text-align: right;
    li {
        position: relative;
        display: inline;
        padding: 11px 0;
        .topnav-links__item {
            font-size: 15px;
            transition: all 0.4s;
            display: inline-block;
            font-family: 'TruenoRegular', sans-serif;
            color: $color-nav-links;
            text-decoration: none;
            padding: 8px 0;
            margin: 0 15px;
            &:hover {
                color: $color-nav-links-hover;
            }
        }
        &:last-child {
            a {
                margin-left: 40px;
            }
        }
    }
}

.topnav-dropdown {
    position: absolute;
    top: 45px;
    left: 50%;
    min-width: 160px;
    transform: translateX(-50%);
    background-color: $bg-navigation;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.1);
    z-index: 10;
    display: none;
    &.-active {}
}

.topnav-dropdown__list {
    padding: 10px 20px;
    z-index: 10;
}

.topnav-dropdown__item {
    display: block !important;
    text-align: left !important;
    a {
        transition: all 0.3s;
        font-size: 16px;
        color: $color-nav-links;
        font-family: 'TruenoRegular', sans-serif;
        margin: 0;
        text-decoration: none;
        padding-left: 36px;
        display: block;
        &:last-child {
            margin: 0 !important;
        }
        &:hover {
            color: $color-nav-links-hover;
        }
    }
}

.topnav-dropdown__icon {
    position: absolute;
    left: 0;
    top: 5px;
    width: 26px;
}

.topnav-mobile-cta {
    position: absolute;
    display: none;
    top: 30px;
    right: 20px;
    z-index: 2;
    a {
        position: absolute;
        top: 0;
        right: 0;
        img {
            width: 20px;
        }
    }
}

// Footer

footer {
    font-size: 15px;
    box-sizing: border-box;
    background-color: $bg-navigation;
    color: $color-footer;
    padding: 40px 0 100px;
}

.footer-container {
    font-family: 'TruenoRegular', sans-serif;
    position: relative;
    box-sizing: border-box;
    padding-left: 300px;
    line-height: 1.4;
}

.footer-logo {
    position: absolute;
    left: 0;
    top: 0;
}

.footer-col__legal {
    p {
        margin-bottom: 20px;
    }
}

.footer-icon {
    transition: all 0.3s;
    margin-right: 10px;
    &:hover {
        opacity: 0.6;
    }
}

.footer-row {
    margin-bottom: 40px;
    &:after {
        content: '';
        clear: both;
        display: table;
    }
}

.footer-col {
    float: left;
    width: 21%;
}

.footer-col__legal {
    float: left;
    width: 37%;
}

.footer-link {
    transition: all 0.3s;
    color: $color-nav-links;
    display: block;
    text-decoration: none;
    margin-bottom: 6px;
    &:hover {
        color: $color-nav-links-hover;
    }
}

.footer-legal-text {
    font-family: 'TruenoUltraLight', sans-serif;
    a {
        transition: all 0.3s;
        color: $color-nav-links;
        &:hover {
            color: $color-nav-links-hover;
        }
    }
}

// Mobile

@media (max-width: $breakpoint-mobile-nav) {
    .topnav-mobile-cta {
        display: block;
        .topnav-mobile-cta__open {
            display: block;
        }
        .topnav-mobile-cta__close {
            display: none;
        }
    }
    .topnav-links-container {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: $bg-navigation;
        z-index: 1;
    }
    .topnav-links {
        position: absolute;
        bottom: 40px;
        right: 20px;
        padding: 0;
        li {
            display: block;
            &:last-child {
                a {
                    margin-top: 30px;
                }
            }
            .topnav-links__item {
                font-size: 20px;
            }
        }
    }
    .footer-container {
        padding-left: 0;
        text-align: center;
    }
    .footer-col {
        display: none;
    }
    .footer-col__legal {
        float: none;
        width: 100%;
    }
    .footer-logo {
        display: none;
    }

    .topnav-dropdown {
        position: relative;
        top: 0;
        left: auto;
        width: auto;
        padding: 0;
        transform: translateX(0);
        box-shadow: none;
    }
    .topnav-dropdown__list {
        padding: 18px 20px 0 0;
    }

    .topnav-dropdown__item {
        text-align: right !important;
        a {
            padding: 0 30px 0 0;
        }
    }

    .topnav-dropdown__icon {
        left: auto;
        right: -5px;
    }
}

